{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light btn-sm cart-item-remove-button">
        {% sw_icon 'x' style { 'size': 'md', 'pack': 'solid' } %}
    </button>
{% endblock %}

{% block page_checkout_item_container %}
    <div
        class="cart-item cart-item-{{ lineItem.type }}{% if isDiscount %} is-discount{% endif %}{% if isNested %} is-nested{% endif %}{% if isChild %} is-child{% endif %}">
        <div class="row cart-item-row">
            {% block page_checkout_item_info %}
                <div class="col-12 col-md-6 cart-item-info">
                    {{ block('page_checkout_item_info_inner') }}
                </div>
            {% endblock %}

            {% block page_checkout_item_quantity %}
                <div class="col-4 col-md-2 cart-item-quantity">
                    {% block page_checkout_item_row %}
                        <div class="row cart-item-quantity-row">
                            {% block page_checkout_item_quantity_select %}
                                <div class="col-12">
                                    {{ block('page_checkout_item_quantity_form') }}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_checkout_price %}
                <div class="col col-md-4 cart-item-price-wrap">
                    {% block page_checkout_total_price %}
                        <div class="cart-item-total-price">
                            {{ block('page_checkout_item_total_price_wrapper') }}
                        </div>
                    {% endblock %}
                    {% block page_checkout_unit_price %}
                        <div class="cart-item-unit-price">
                            {{ block('page_checkout_item_unit_price_wrapper') }}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {{ block('page_checkout_item_remove') }}
        </div>
    </div>
{% endblock %}
