{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}

{% block component_address_address_editor_modal_accordion_actions %}
    {% if not page.address %}
        <div class="row address-editor-accordion-row g-0">
            {{ block("component_address_address_editor_modal_accordion_action_edit") }}

            {{ block("component_address_address_editor_modal_accordion_action_list") }}

            {{ block("component_address_address_editor_modal_accordion_action_create") }}
        </div>
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_shipping_card_address %}
    <div class="py-3 border-top border-2">
        {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {
            'address': context.customer.defaultShippingAddress
        } %}
    </div>
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_edit %}
    <a class="address-editor-edit btn btn-outline-secondary"
       data-bs-toggle="collapse"
       data-bs-target="#{{ typePrefix }}address-create-edit"
    >
        {{ "account.addressEditBtn"|trans|sw_sanitize }}
    </a>
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_create %}
    <a class="address-editor-create btn btn-outline-secondary"
       data-bs-toggle="collapse"
       data-bs-target="#{{ typePrefix }}address-create-new"
    >
        {{ "account.addressCreateBtn"|trans|sw_sanitize }}
    </a>
{% endblock %}

{% block component_address_address_editor_modal_accordion_overview_billing_card_address %}
    <div class="py-3 border-top border-2">
        {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {
            'address': context.customer.defaultBillingAddress
        } %}
    </div>
{% endblock %}
