{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list %}
    {% block component_address_address_editor_modal_list_wrapper %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block component_address_address_editor_modal_list_address %}
    <div class="col-12 col-lg-6 mb-4">
        <div class="card address-editor-card">
            {{ block('component_address_address_editor_modal_list_address_body') }}

            {{ block('component_address_address_editor_modal_list_address_body_actions') }}
        </div>
    </div>
{% endblock %}

{% block component_address_address_editor_modal_list_addresses %}
    <div class="row">
        {{ parent() }}
    </div>
{% endblock %}


{% block component_address_address_editor_modal_list_address_body %}
    <div class="card-body">
        <div class="d-flex">
            {{ block('component_address_address_editor_modal_list_address_include') }}
        </div>
    </div>
{% endblock %}
