{% sw_extends '@Storefront/storefront/page/error/error-maintenance.html.twig' %}

{% block error_maintenance_main_fallback %}
    <div class="container">
        <div class="container-maintenance text-center">
            <div class="container-maintenance__bg">
                <picture>
                    {% if shopware.theme['sw-maintenance-bg'] and shopware.theme['sw-maintenance-bg'] != shopware.theme['sw-maintenance-bg_m'] %}
                        <source srcset="{{ shopware.theme['sw-maintenance-bg'] |sw_encode_url }}"
                                media="(max-width: {{ shopware.theme.breakpoint.md - 1 }}px)">
                    {% endif %}

                    {% if shopware.theme['sw-maintenance-bg-tablet'] %}
                        <img src="{{ shopware.theme['sw-maintenance-bg-tablet'] |sw_encode_url }}"
                             alt="{{ "general.maintenanceModeHeader"|trans|striptags }}"
                             class="rounded mx-auto d-block"/>
                    {% endif %}
                </picture>
            </div>
            <h1 class="maintenance-heading">{{ "general.maintenanceModeHeader"|trans }}</h1>
            <p>{{ "general.maintenanceModeDescription"|trans }}</p>
        </div>
    </div>

{% endblock %}

{% block error_maintenance_footer %}
    {% sw_include '@Storefront/storefront/layout/footer/footer-simple.html.twig' %}
{% endblock %}
