{# SwagShapeTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/line-item/element/label.html.twig' %}

{% block component_line_item_label %}
    {% set label = lineItem.label|trans|sw_sanitize %}
    {% set label = label !== '' ? label : lineItem.label %}

    {% if productLink %}
        <a href="{{ seoUrl('frontend.detail.page', { 'productId': lineItem.referencedId }) }}"
           class="line-item-label"
           title="{{ label }}"
            {% if controllerAction is same as('confirmPage') %}
                data-toggle="modal"
                data-modal-class="quickview-modal"
                data-url="{{ path('widgets.quickview.minimal', { 'productId': lineItem.referencedId }) }}"
            {% endif %}
        >
            {% if controllerAction is same as('finishPage') %}
                {{ lineItem.quantity }}x
            {% endif %}
            {{ label|u.truncate(60, '...', false)|raw }}
        </a>
    {% else %}
        <div class="line-item-label">
            {% if controllerAction is same as('finishPage') %}
                {{ lineItem.quantity }}x
            {% endif %}
            {{ label|u.truncate(60, '...', false)|raw }}
        </div>
    {% endif %}
{% endblock %}
